:root {
	--primary: #F6F6F6;
	--secondary: #777777;
	--tertiary: #CCCCCC;
	--background: #FFF;
	--text: #000;	
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	color: var(--text);
	background: var(--primary);
	font-size: 16px;
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

@mixin flex($align: initial, $justify: initial) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
	align-items: $align;
}

.header {
	background: var(--secondary);
	padding: 20px 0;
	margin-bottom: 48px;

	&__logo {
		display: flex;

		img {
			max-height: 36px;
			object-fit: contain;
		}
	}
}

.inner-wrapper {
	max-width: 1480px;
	padding: 0 48px;

	@media (max-width: 1200px) {
		padding: 0 16px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 16px;
	row-gap: 30px;
}

.filter-nav {
	@include flex(center, space-between);
	margin-bottom: 1em;

	&__actions {
		@include flex(center);

		@media (max-width: 1200px) {
			width: 100%;
		}
	}

	&__total {
		@media (max-width: 1200px) {
			display: block;
			margin-bottom: 2em;
		}
	}
}

.order-by {
	@include flex(center);

	@media (max-width: 1200px) {
		width: 100%;
	}
	
	&__label {
		margin-right: 1em;
	}

	&:not(:last-child) {
		margin-right: 1.25em;

		@media (max-width: 1200px) {
			width: 100%;
			margin: 0 0 1em;
		}
	}
}

.section-header {
	font-weight: 400;

	@media (max-width: 1200px) {
		margin-bottom: 1em;
	}
}

.product-archive {
	padding: 1.25em;
	margin-bottom: 5em;
	padding-bottom: 7.5em;
	border: 1px solid var(--tertiary);
}

.product-card {
	grid-column: span 4;
	background: var(--background);
	padding: 1em;
	transition: 400ms opacity cubic-bezier(0.25, 0.1, 0.25, 1);

	@media (max-width: 1200px) {
		grid-column: span 6;
	}

	@media (max-width: 540px) {
		grid-column: -1 / 1;
	}

	&:hover {
		opacity: 0.8;

		img {
			transform: translate(-50%, -50%) scale(1.025);
		}
	}

	&__image {
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 4 / 5 * 100%;
		}

		img {
			object-fit: contain;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 80%;
			transform: translate(-50%, -50%);
			transition: 400ms transform cubic-bezier(0.25, 0.1, 0.25, 1);
		}
	}

	&__title {
		margin-bottom: 0.5em;
	}
}

